<div class="row" style="padding-top:10%;">
  <div class="col"></div>
    <div class="col-md-7 text-center">
      <h1>Hola, Bienvenido a mi Blog</h1>
      <%= link_to 'Mi Blog', articles_path, class:'btn btn-lg btn-success'%>
    </div>
  <div class="col"></div>
</div>